<!DOCTYPE html>

<html>

<head>
  <title>Task List</title>
  <link rel="stylesheet" type = "text/css" href = "https://bootswatch.com/united/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>


</html>
